
.shape-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 80px;
}

.shuu {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.sula {
    width: 300px;
    height: 200px;
    background-color: #E0DEDE;
    border-radius: 50% / 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.gaga{
    color: #D59999;
    font-family: "Concert One", sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.sula h5 {
    color: #333;
    margin-bottom: 10px;
    font-family: "Concert One", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    width: 220px;
}

.sula p {
    font-size: 12px;
    color: #666;
    width: 220px;
    font-family: "Concert One", sans-serif;
}


@media (max-width: 768px) {
    .shuu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sula {
        width: 300px;
        height: 200px;
    }
}

